@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=League+Gothic&family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --blue-color: #48a4e6;
  --red-color: #e03a3a;
  --grey-color: #c5c5c5;
  --gray-color: #3f3f3f;
  --black-color: #0c0c0c;
  --white-color: #ffffff;
  --main-color: #e9e7ea;
  --golden-color: #fbcb45;
  --transition: all 0.3s ease-in-out;
  --main-font: "Lobster", cursive;
  --second-font: "Kanit", sans-serif;
  --third-font: "League Gothic", sans-serif;
  --paragraph-font: "Courgette", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
